
@import '~antd/dist/antd.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  display: flex;
}
.nav-left,.nav-right{
  height: 44px;
  width: 70px;
  background-color: red;
  text-align: center;
}
.nav-center{
  flex: 1;
  height: 44px;
  background-color: blue;
  text-align: center;
}


